PORT=5000
MONGO_URI=mongodbconnectionstring
MAIL_USER=emailaddress
EMAIL_PASS=Emailpassword
CLIENT_URL=http://localhost:5173 
JWT_SECRET=jwtsecret
ADMIN_USERNAME=Adminusername
ADMIN_PASSWORD=password
